body { font-family: sans-serif; background: #fff; color: #000; margin: 0; }
header { background: #0A1B2A; color: #fff; padding: 1em; text-align: center; }
nav a { color: #fff; margin: 0 10px; text-decoration: none; }
main { padding: 2em; }
.produto { margin-bottom: 1em; }
.produto img { height: 100px; }
footer { background: #0A1B2A; color: white; text-align: center; padding: 1em; }
